body {
	margin: 0;
	padding: 0;
}

.mypage_body{
	background:#f3f3f3;
}

#menu{
	display: inline-block;
}


#pushobj {
	color: #000;
	width:100%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	text-align:center;
	display: inline-block;
	position:fixed;
}

#map_box{
	width:80%;
	padding: 0.5%;
	margin:0 auto;
	text-align:center;
	border:1px solid #c0c0c0;
	background: #ffffff;
}

.layer {
   display: none;
   position: fixed;
   _position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
}

.layer .bg {
   position: absolute;
   top: 0;	
   left: 0;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.9;
   filter: alpha(opacity = 50);
}

.layer .pop-layer {
   display: block;
}

.pop-layer {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 410px;
   height: auto;
   border-radius:10px;
   z-index: 10;
}

.pop-layer .pop-container {
   padding: 20px 30px;
}

.pop-layer p.ctxt {
   color: #666;
   line-height: 25px;
}

.pop-layer .btn-r {
   position: absolute;
   right: 20px;
   }

a.cbtn {
   display: inline-block;
   height: 25px;
   padding: 0 14px 0;
   border: 1px solid #304a8a;
   background-color: #3f5a9d;
   font-size: 13px;
   color: #fff;
   line-height: 25px;
}

a.cbtn:hover {
   border: 1px solid #091940;
   background-color: #1f326a;
   color: #fff;
}

/* ------------------------------------------ */


.pop-conts{
   font-size: 13px;
   color: #fff;
}

.pop-conts h1{
   font-size:50px;
   text-align: center;
   margin-bottom: 40px;
}

.pop-conts label a{
   color: #fff;
   line-height: 25px;
}

.pop-conts input{
   border-radius: 6px;
}

.pop-conts input[type="text"],input[type="password"]{
   width: 100%;
   height:50px;
   border-bottom: 1px solid #000;
   margin-bottom: 10px;
   padding-left: 20px;
   box-sizing: border-box;
}

.pop-conts input[type="submit"]{
   width:100%;
   height:50px;
   background:#f48e7f;
   margin-bottom: 20px;
   color: #fff;
   font-size: 14px;
   cursor: pointer;
}

#layer2 .pop-conts p{
   text-align: left;
   margin: 0 0 35px 0 ;
}

.pop-conts p input[type="checkbox"]{
   margin-right: 15px;
   width: 15px;
   height: 15px;
   background: #fff;
   border-radius: 6px;
}


.popup{
   display: none;
   width: 350px;
   background: #fff;
   position: absolute;
   right: 10px;
   top: 80px;
   border-radius: 6px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.popup>div{
   position: relative;
   padding: 15px;
   box-sizing: border-box;
   border-bottom: 1px solid #ebebeb
}

.popup>div:nth-child(2){
   background: #ebebeb;
}
.popup div .pt_btn{
   width: 100%;
   height: 50px;
   background: #5b88fd;
   border-radius: 6px;
   line-height: 50px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.pt_btn a{
   width: 100%;
   height: 100%;
   display: block;
   color: #fff;
}
.popup div .pt_btn:hover{
   background: #3665e0;
}


.popup .rg_img{
   width: 50px;
   height: 50px;
   background: url("../img/rg_basic.png");
}

.popup div label {
   position: absolute;
   left: 90px;
}

.popup div label:nth-child(2){
   font-size: 20px;
   top: 18px;
}

.popup div label span{
   width: 15px;
   height: 15px;
   display: inline-block;
   background: url("../img/info.png") no-repeat 0 3px;
   margin: 0 0 0 10px;
   cursor: pointer;
}

.popup div label:nth-child(3){
   font-size:13px;
   top: 43px;
}

.popup div:nth-child(3){
   border: 0;
}